<!-- {#% extends "account/base.html" %} -->
{% extends "DataSearch/login.html" %}
{% load widget_tweaks %}


{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'user_login' %}">
  {% csrf_token %}

  <label>User Email</label>
        <div class="pom-agile">
          <span class="fa fa-user-o" aria-hidden="true"></span>
            {% render_field form.login class="user" type="text" name="Name" class="user-details" type="text" placeholder="Email" %}
        </div>
        <label>Password</label>
        <div class="pom-agile">
          <span class="fa fa-key" aria-hidden="true"></span>
          {% render_field form.password class="user-details" type="text" placeholder="Password" %}
        </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="sub-w3l">
          <div class="sub-agile">
            <input type="checkbox" id="brand1" value="">
            <label for="brand1">
              <span></span>Keep me Signed in</label>
          </div>
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <div class="clear"></div>
  </div>



  <div class="right-w3l">
    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
  </div>
</form>
{% endblock %}
